.about-ctr {
    display: flex;

    .about-main {
        height: 100%;
        width: 75%;
        padding-top: 22vh;
        position: relative;

        .img-ctn {
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            overflow: hidden;

            .about-slider {
                height: 100%;
                width: 100%;
                display: flex;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                animation-duration: 1s;

                img {
                    height: 100%;
                    width: 100%;
                    flex-shrink: 0;
                    object-position: right;
                }
            }
        }

        .content-title {
            height: 65px;
            width: 100%;
            padding-left: 10%;

            h3 {
                display: inline-block;
                font-weight: 700;
                font-size: 2.8em;
                margin-right: 15px;
                vertical-align: middle;
            }

            svg {
                vertical-align: middle;
            }
            
            &::after {
                content: "";
                display: block;
                height: 2px;
                width: 20%;
                background-color: $color_secondary;
                margin-top: 5px;
            }
        }

        .content {
            height: calc(100% - 65px);
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            p {
                width: 60%;
                font-size: 1.3em;
                line-height: 30px;
                margin-bottom: 10px;
            }

            ul {
                min-width: 125px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 35px;
                opacity: 0;

                .selected {
                    font-weight: 600;
                    font-size: 1.5em;
                    color: #fff;
                }   

                li {
                    font-size: 1.3em;
                    margin-bottom: 5px;
                    text-align: center;
                    color: $color_secondary;
                    cursor: pointer;
                }
            }

            .banner {
                height: auto;
                min-height: 200px;
                width: 70%;
                display: flex;
                transform: scaleX(0);
                padding: 20px 0;
            }

            .left-banner {           
                background-color: rgba(4, 6, 19, .80);
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                box-shadow: inset -15px 0 $color_tertiary;
                transform-origin: left;
            
                p {
                    height: fit-content;
                    padding-right: 35px;
                    opacity: 0;
                }
            }

            .right-banner {
                background-color: rgba(128, 114, 40, .65);
                align-self: flex-end;
                box-shadow: inset 15px 0 $color_primary;
                transform-origin: right;

                p {
                    height: fit-content;
                    padding-left: 50px;
                    margin-top: auto;
                    margin-bottom: auto;
                    opacity: 0;
                }

                .value-type {
                    opacity: 0;
                }
            }
        }
    }

    .about-nav {
        height: 100%;
        width: 25%;
        margin-top: 12vh;

        .about-nav__title {
            height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: radial-gradient(circle, rgb(10, 14, 38) 0%, rgb(4, 6, 19) 50%);

            h2 {
                font-size: 1.8em;
            }
        }

        ul {
            padding: 0 12%;

            li {
                font-size: 1.2em;
                margin-bottom: 20px;
                cursor: pointer;
                transition: transform 300ms;

                &::before {
                    background-color: $color_secondary;	
                    background-image: -webkit-linear-gradient(45deg,
                                        rgba(255, 255, 255, .2) 25%,
                                        transparent 25%,
                                        transparent 50%,
                                        rgba(255, 255, 255, .2) 50%,
                                        rgba(255, 255, 255, .2) 75%,
                                        transparent 75%,
                                        transparent);
                    content: "";
                    display: inline-block;
                    height: 15px;
                    width: 5px;
                    margin-right: 25px;
                    transform-origin: left;
                    transform: scaleX(1);
                }

                &:hover {       
                    color: $color_secondary;

                    &::before {
                        transform: scaleX(3);
                    }       
                    
                }
            }

            .nav-selected {
                color: $color_secondary;

                &::before {
                    transform: scaleX(3);
                }
            }
        }
    }
}

@keyframes displayBanner {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes displayBanner2 {
    0% {
        transform: scaleX(1);
    }
    25%, 50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

