.cars-ctr {
    display: flex;

    .cars-main {
        height: 100%;
        width: 80%;
        padding-top: 100px;
        position: relative;

        .img-ctn {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            pointer-events: none;

            .cars-slider {
                height: 100%;
                width: 100%;
                display: flex;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                animation-duration: 1s;

                img {
                    height: 100%;
                    width: 100%;
                    flex-shrink: 0;
                    object-position: left;
                }
            }
        }

        .content-title {
            height: 65px;
            width: 100%;
            padding-left: 10%;
            display: flex;
            align-items: center;

            h3 {
                display: inline-block;
                font-weight: 700;
                font-size: 2.8em;
                margin-right: 15px;
                vertical-align: middle;

                &::after {
                    content: "";
                    display: block;
                    height: 2px;
                    width: 140%;
                    background-color: $color_secondary;
                    margin-top: 5px;
                }
            }

            svg {
                vertical-align: middle;
            }
            
            .cars-question {
                flex-grow: 1;
                h4 {
                    font-size: 1.6em;
                    color: $color_secondary;
                    text-align: center;
                }
            }
        }

        .cars-static-message {
            height: 100px;
            width: 100%;
            margin-top: 25px;
            padding-left: 10%;

            p {
                font-size: 1.2em;
            }
        }

        .content {
            height: calc(100% - 190px);
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-evenly;
            padding-left: 20%;

            .car-name-banner {
                height: 100%;
                width: 50%;
                background-color: #C3C3C3;
                box-shadow: inset 0px 15px 0px 0px $color_secondary;

                h4{
                    padding: 25px;
                    font-size: 2.3em;
                    color: #000;
                    text-align: center;
                }
            }

            .car-info-banner {
                height: 100%;
                width: 25%;
                background-color: $color_secondary;
                background-image: -webkit-linear-gradient(45deg,
                                        rgba(255, 255, 255, .2) 25%,
                                        transparent 25%,
                                        transparent 50%,
                                        rgba(255, 255, 255, .2) 50%,
                                        rgba(255, 255, 255, .2) 75%,
                                        transparent 75%,
                                        transparent);
                box-shadow: inset 0px 15px 0px 0px #C3C3C3;

                ul {
                    padding: 12% 10%;

                    li {
                        color: #000;
                        font-weight: 600;
                        font-size: 1.2em;
                        margin-bottom: 17px;
                    }

                    span {
                        display: inline-block;
                        height: 30px;
                        width: 30px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-right: 15px;
                    }

                    .available-seats {      
                        background-image: url('../../Medias/Image/Icons/person.svg');
                    }

                    .food {
                        background-image: url('../../Medias/Image/Icons/food.svg');
                    }

                    .drinks {
                        background-image: url('../../Medias/Image/Icons/drop.svg');
                    }

                    .video {
                        background-image: url('../../Medias/Image/Icons/tablet.svg');
                    }

                    .magazines {
                        background-image: url('../../Medias/Image/Icons/magazine.svg');
                    }


                    li {
                        display: flex;
                        align-items: center;
                    }
                }
            }

            // p {
            //     width: 50%;
            //     font-size: 1.4em;
            //     line-height: 30px;
            // }

            // ul {
            //     min-width: 125px;
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: center;
            //     padding-left: 35px;
            //     opacity: 0;

            //     .selected {
            //         font-weight: 600;
            //         font-size: 1.5em;
            //         color: #fff;
            //     }   

            //     li {
            //         font-size: 1.3em;
            //         margin-bottom: 5px;
            //         text-align: center;
            //         color: $color_secondary;
            //         cursor: pointer;
            //     }
            // }
        }
    }

    .cars-nav {
        height: 100%;
        width: 20%;
        margin-top: 12vh;

        .cars-nav__title {
            height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: radial-gradient(circle, rgb(10, 14, 38) 0%, rgb(4, 6, 19) 50%);

            h2 {
                font-size: 1.8em;
            }
        }

        ul {
            padding: 0 12%;

            li {
                font-size: 1.2em;
                margin-bottom: 20px;
                cursor: pointer;
                transition: transform 300ms;

                &::before {
                    background-color: $color_secondary;	
                    background-image: -webkit-linear-gradient(45deg,
                                        rgba(255, 255, 255, .2) 25%,
                                        transparent 25%,
                                        transparent 50%,
                                        rgba(255, 255, 255, .2) 50%,
                                        rgba(255, 255, 255, .2) 75%,
                                        transparent 75%,
                                        transparent);
                    content: "";
                    display: inline-block;
                    height: 15px;
                    width: 5px;
                    margin-right: 25px;
                    transform-origin: left;
                    transform: scaleX(1);
                }

                &:hover {       
                    color: $color_secondary;

                    &::before {
                        transform: scaleX(3);
                    }       
                    
                }
            }

            .nav-selected {
                color: $color_secondary;

                &::before {
                    transform: scaleX(3);
                }
            }
        }
    }
}