.services-ctr {
    display: flex;

    .services-main {
        height: 100%;
        width: 80%;
        padding-top: 22vh;
        position: relative;

        .img-ctn {
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: -1;
            top: 1px;
            left: 0;
            overflow: hidden;

            .services-slider {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                animation-duration: 1s;

                img {
                    height: 100%;
                    width: 100%;
                    flex-shrink: 0;
                }
            }
        }

        .content-title {
            height: 65px;
            width: 100%;
            padding-left: 10%;

            h3 {
                display: inline-block;
                font-weight: 700;
                font-size: 2.8em;
                margin-right: 15px;
                vertical-align: middle;
            }

            svg {
                vertical-align: middle;
            }
            
            &::after {
                content: "";
                display: block;
                height: 2px;
                width: 20%;
                background-color: $color_secondary;
                margin-top: 5px;
            }
        }

        .content {
            height: calc(100% - 64px);
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-left: 8%;

            .main-banner {
                max-height: 95%;
                width: 50%;
                min-width: 490px;
                background-color: rgba(52, 46, 44, 0.85);
                padding: 4% 3%;
                transform: scaleY(0);
                transform-origin: bottom;

                p {
                    font-size: 1.3em;
                    line-height: 30px;
                    margin-bottom: 17px;
                    opacity: 0;

                    &:nth-child(2) {
                        margin-bottom: 30px;
                    }
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 2em;
                    opacity: 0;

                    svg {
                        width: 30px;
                        align-self: center;
                    }
    
                    li {
                        font-size: 1.3em;
                        width: calc(100% - 30px);
                        padding-left: 10px;
    
                        // &:nth-child(1) {
                        //     margin-bottom: 25px;
                        // }
                    }
                }

                .extras {
                    flex-wrap: nowrap;
                    justify-content: space-evenly;
                    // position: relative;

                    li:not(#extras-detailed) {
                        height: 115px;
                        width: 115px;
                        text-align: center;
                        color: $color_secondary;
                        background-color: $color_primary;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        outline: 1px solid $color_secondary;
                        cursor: pointer;
                        transition: 300ms;
                        position: relative;

                        svg {
                            width: auto;
                            margin-bottom: 7px;
                        }

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    .extend {
                        transform: scale(1.1);
                    }
                }
                
            }

            .book-link {
                height: 100px;
                width: 25%;
                min-width: 210px;
                padding: 0 15px;
                background-color: $color_secondary;
                align-self: center;
                position: relative;
                bottom: 75px;
                border: 3px solid #342E2C; 
                border-width: 3px 0 3px 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transform: scaleX(0);
                transition: transform 300ms;
                transform-origin: right;

                &:hover {
                    transform: scale(1.03);
                }

                svg {
                    position: relative;
                    top: 2px;
                    margin-right: 15px;
                    opacity: 0;
                }

                p {
                    font-size: 1.5em;
                    font-weight: 500;
                    text-align: center;
                    opacity: 0;
                }
            }
        }
    }

    .services-nav {
        height: 100%;
        width: 20%;
        margin-top: 12vh;

        .services-nav__title {
            height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: radial-gradient(circle, rgb(10, 14, 38) 0%, rgb(4, 6, 19) 50%);

            h2 {
                font-size: 1.8em;
            }
        }

        ul {
            padding: 0 12%;

            li {
                font-size: 1.2em;
                margin-bottom: 20px;
                cursor: pointer;
                transition: transform 300ms;

                &::before {
                    background-color: $color_secondary;	
                    background-image: -webkit-linear-gradient(45deg,
                                        rgba(255, 255, 255, .2) 25%,
                                        transparent 25%,
                                        transparent 50%,
                                        rgba(255, 255, 255, .2) 50%,
                                        rgba(255, 255, 255, .2) 75%,
                                        transparent 75%,
                                        transparent);
                    content: "";
                    display: inline-block;
                    height: 15px;
                    width: 5px;
                    margin-right: 25px;
                    transform-origin: left;
                    transform: scaleX(1);
                }

                &:hover {       
                    color: $color_secondary;

                    &::before {
                        transform: scaleX(3);
                    }       
                    
                }
            }

            .extras-nav {
                &::before {
                    background-color: #9D9D9D;
                }
            }

            .nav-selected {
                color: $color_secondary;

                &::before {
                    transform: scaleX(3);
                }
            }
        }
    }
}

@keyframes bannerY {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes resetBannerY {
    0% {
        transform: scaleY(1);
    }
    25%, 50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

