.welcome-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at center, rgb(15 7 36) 0, #040613 35%, rgb(10, 5, 25) 100%);
    position: absolute;
    top: 0;
    z-index: 10;

    .brand-logo {
        height: 226px;
        width: 340px;

        #home-svg {
            width: 100%;
            overflow: visible;
        }
        
        #home-svg :nth-child(2) {
            animation: moveCar 1s cubic-bezier(0, 0, 0.28, 1) forwards 1s;
            opacity: 0;
        }
        #home-svg :nth-child(3) {
            animation: moveCar 1s cubic-bezier(0, 0, 0.28, 1) forwards 1s;
            opacity: 0;
        }
        #home-svg :nth-child(4) {
            animation: moveCar 1s cubic-bezier(0, 0, 0.28, 1) forwards 1s;
            opacity: 0;
        }
        
        p {
            text-align: center;
            font-family: 'Smooch Sans', sans-serif;
            font-size: 1.3em;
            font-weight: 400;
        }
    }

    .btn-container {
        height: 37px;
        width: 110px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            height: 37px;
            width: 110px;
            background-color: $color_secondary;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 1.45em;
            opacity: 0;
            animation: opa0to1 ease-in-out 1s forwards;
        }

        .shine {
            position: absolute;
            top: 0;
            left: -70px;
            height: 37px;
            width: 30px;
            background: rgba(255, 255, 255, 0.4);
            transform: skewX(340deg) translateX(0);
            pointer-events: none;
        }

        &:hover .shine {
            transition: transform 0.8s linear;
            transform: skewX(340deg) translateX(300px);
        }

        .loading-dot {
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 32px 0 #fff, -32px 0 #fff;
            position: relative;
            animation: flash 0.5s ease-out infinite alternate;
            margin-right: 10px;
          }
    }
}


@keyframes moveCar {
    from {
        opacity: 0;
        transform: translateX(105vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes flash {
    0% {
      background-color: #FFF2;
      box-shadow: 32px 0 #FFF2, -32px 0 $color_secondary;
    }
    50% {
      background-color: $color_secondary;
      box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
    }
    100% {
      background-color: #FFF2;
      box-shadow: 32px 0 $color_secondary, -32px 0 #FFF2;
    }
  }

@keyframes moveCar2 {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    35% {
        opacity: 1;
        transform: translateX(20px);
    }

    100% {
        opacity: 0;
        transform: translateX(-105vw);
    }
}

@keyframes enter {
    to {
        transform: translateX(105vw);
    }
}