/* Grande tablettes (portrait and landscape) ----------- */
@media only screen and (max-device-width : 1024px) {
    #root {
        // Header tablettes
        header {
            .brand-logo {
                width: auto;
            }
            nav {
                height: auto;
                width: auto;
                visibility: hidden;
                position: absolute;
                z-index: 2;
                bottom: -153px;
                right: 61px;
                background-color: #100B20;

                ul {
                    flex-direction: column;
                    font-size: 0.9em;

                    li {
                        height: 40px;
                        width: 175px;
                        clip-path: none;     

                        .shine {
                            left: -55px;
                        }
                    }
                }
            }
            .languages-ctn {
                width: auto;

                .hamburger-menu {
                    display: block;
                }
            }
        }   
    }
    main {
        // About tablettes
        .about-ctr {
            .about-main {
                .content {
                    .banner {
                        width: 70%;

                        p {
                            width: 90%;
                        }
                    }
                }
            }
        }
        .services-ctr {
            .services-main {
                .content {
                    padding-left: 5%;
                    
                    .banner {
                        width: 70%;

                        p {
                            width: 90%;
                        }
                    }

                    .book-link {
                        height: auto;
                        width: 100px;
                        min-width: auto;
                        flex-direction: column;
                        padding: 15px 7px;

                        svg {
                            margin: 0;
                        }

                        p {
                            font-size: 1.3em;
                        }
                    }
                }
            }
        }
    }
}

/* Petites tablettes (portrait and landscape) ----------- */
@media only screen and (max-device-width : 768px) {

}