/* Grande tablettes (portrait and landscape) ----------- */
@media only screen and (max-device-width : 1024px) {
    #root {
        header {
            .brand-logo {
                width: auto;
            }
            nav {
                height: auto;
                width: auto;
                visibility: hidden;
                position: absolute;
                z-index: 2;
                bottom: -153px;
                right: 61px;
                background-color: #100B20;

                ul {
                    flex-direction: column;
                    font-size: 0.9em;

                    li {
                        height: 40px;
                        width: 175px;
                        clip-path: none;     

                        .shine {
                            left: -55px;
                        }
                    }
                }
            }
            .languages-ctn {
                width: auto;

                .hamburger-menu {
                    display: block;
                }
            }
        }   
        main {
            .transition {
                display: none;
            }
    
            .about-ctr, .services-ctr, .cars-ctr, .booking-ctr {
                flex-direction: row-reverse;
                align-items: flex-end;
    
                .about-main, .services-main, .cars-main {
                    height: 100%;
                    width: 100%;
                    padding-top: 0;
                    margin: 0;
    
                    .content-title {
                        padding: 0 0 0 125px;
                        margin-top: 40px;
                    }
    
                    .about-content{
                        height: calc(100% - 105px);

                        .banner {
                            width: 70%;
                            max-height: 250px;
    
                            &:nth-child(1) {
                                padding: 20px 0px 20px 100px;
                            }
    
    
                            p {
                                width: 90%;
                            }
                        }
                    }

                    .img-ctn {
                        .cars-slider {
                            img {
                                &:nth-child(2) {
                                    object-position: 30%;
                                }
                            }
                        }
                    }
    
                    .services-content, .cars-content {
                        height: calc(100% - 104px);
                        padding-left: 150px;
                    }

                    .cars-content {
                        height: calc(100% - 105px);
                        padding-left: 100px;

                        .left-info {
                            left: auto;
                            right: 0;

                            .cars-info {
                                right: 40px;
                            }
                        }
                    }
    
                    #book-link {
                        height: auto;
                        width: 100px;
                        min-width: auto;
                        flex-direction: column;
                        padding: 15px 7px;
    
                        svg {
                            margin: 0;
                        }
    
                        p {
                            font-size: 1.3em;
                        }
                    }   
                }

                .booking-main {
                    height: 100%;
                    width: 100%;
                    padding-top: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    .static-info {
                        width: calc(100% - 100px);
                        margin-top: 40px;
                        text-align: center;
                    }

                    .form-container {
                        width: calc(100% - 100px);
                    }
                }  
    
                .about-nav, .services-nav, .cars-nav, .booking-nav {
                    height: 100%;
                    width: 100px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                    background-color: rgba(4, 6, 19, 0.63);
                    padding-top: 0;
                    display: flex;
                    flex-direction: column;
                    padding-top: 50px;
                    gap: 50px;
                    margin: 0;
    
    
                    .about-nav__title, .services-nav__title, .cars-nav__title, .booking-nav__title {
                        height: auto;
                        background: none;
    
                        .h-section {
                                writing-mode: vertical-lr;
                                text-orientation: upright;
                                font-family: 'Smooch Sans', sans-serif;
                                text-transform: uppercase;
                                font-size: 1.5em;
                        }
                    }
    
                    ul {
                        padding: 0;
    
                        li {
                            text-align: center;
                            padding: 0 15px;
    
                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Petites tablettes (portrait and landscape) ----------- */
@media only screen and (max-device-width : 768px) {
    #root {
        main {
            .company-info-ctr {
                #company-slider {
                    .company-ctn {
                        .company-background {
                            filter: brightness(0.75);
                        }
                        .company-foreground{
                            justify-content: center;

                            .company-card {
                                width: 70%;
                                min-width: auto;
                                height: auto;
                                min-height: auto;
                                margin-left: 0;
                                box-shadow: none;
                                background: none;

                                .card-title {
                                    width: 100%;
                                    margin-bottom: 40px;
                                    white-space: pre-wrap;

                                    h2 {
                                        text-align: center;
                                    }
                                }

                                .card-info {
                                    margin-bottom: 45px;
                                }
                            }
                        }
                    }
                }

                .company-nav {
                    right: 0;
                }
            }
            .about-ctr {
                height: auto;
                scroll-margin-top: 50px;

                .about-main{

                    .img-ctn {
                        img {
                            filter: brightness(0.75);
                        }
                    }

                    .content-title {
                        margin-bottom: 40px;
                    }

                    .about-content{
                        .banner {
                            width: 100%;
                            max-height: none;
                            margin-bottom: 40px;
                            box-shadow: none;
                        }

                        .right-banner {
                            padding: 20px 0px 20px 100px;
                            flex-direction: column;
                            // min-height: 248px;

                            ul {
                                flex-direction: row;
                                justify-content: space-evenly;
                                padding-left: 0;

                                li {
                                    font-size: 1.15em;
                                }
                            }
                        }
                    }
                }
            }

            .services-ctr {
                height: auto;
                min-height: 100vh;
                scroll-margin-top: 50px;

                .services-main{
                    min-height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .content-title {
                        margin: 40px 0 20px 0;
                    }

                    .services-content {
                        height: calc(100% - 125px);
                        width: 100%;
                        padding: 0;
                        justify-content: flex-end;

                        .main-banner {
                            min-height: 500px;
                            width: calc(100% - 140px);
                            min-width: auto;
                            margin: 0 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;

                            .extras {
                                flex-wrap: wrap;
                                li {
                                    height: 100px;
                                    width: 100px;
                                    margin: 0 5px;
                                }
                            }
                        }

                        #book-link {
                            display: none;
                        }  
                    }
                }
            }

            .cars-ctr {
                height: auto;
                min-height: 100vh;
                scroll-margin-top: 50px;

                .img-ctn {
                    .cars-slider {
                        align-items: flex-end;

                        img {
                            max-height: 90%;
                            object-position: 40%;

                            &:nth-child(1) {
                                max-height: 80%;
                                object-position: 20% 50px;
                            }

                            &:nth-child(2) {
                                max-height: 70%;
                                object-position: 20% 10px;
                            }
                        }
                    }
                }

                .cars-main {
                    min-height: 100vh;

                    .content-title {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        height: 175px;
                        margin-bottom: 20px;

                        .car-type {
                            margin-bottom: 20px;
                        }
                    }

                    .cars-content {
                        height: 543px;

                        .left-info {
                            outline: 3px solid #040613;
                        }

                        .car-name-banner {
                            width: 40%;
                            height: 83%;
                            min-width: 175px;
                        }

                        .car-info-banner {
                            width: 35%;
                            height: 100%;
                            min-width: 175px;

                            ul {
                                padding: 12% 2% 12% 15%;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Mobiles (portrait and landscape) ----------- */
@media only screen and (max-device-width : 480px) {

}