@font-face {
    font-family: 'teslaregular';
    src: url('../Style/Font/webfontkit-20230228-102345/tesla-webfont.woff2') format('woff2'),
         url('../Style/Font/webfontkit-20230228-102345/tesla-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    position: relative;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 15px;
    }
 
    &::-webkit-scrollbar-thumb {
        background-color: $color_secondary;	
	    background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%,
                                            transparent)
    }
}

* {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

body {
    height: 100vh;
    // width: calc(100vw - 15px);
    overflow: hidden;
    font-size: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

h1, .h-section {
    font-family: 'teslaregular';
    font-weight: normal;

    span {
        color: $color_secondary;
    }
}

ul {
    list-style-type: none;
}

button, p, li, h2, h3, h4, h5, label, a{
    font-family: 'Smooch Sans', sans-serif;
}

video, img {
    object-fit: cover;
}

.colored {
    color: $color_secondary;
    font-weight: 600;
}